:root{
    --color-1: #224295;
    --color-2: #F6F6F6;
    --color-3: #23272A;
    --color-4: #58443F;
    --color-5: #7289DA;
    
}


header{
     
    background-color: var(--color-1);
    /* height: 400px; */
    padding-bottom: 50px;
    
}
.flex{
    display: flex;
    justify-content: space-around;
}



.logo,
.menu,
.accedi{
    /* height: 50px; */
    /* width: 50px; */
   
}
.text-1{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    /* height: 100px; */
    margin-top: 20px;



}
.container-80{
    width: 90%;
    margin: 0 auto;
}

main section{
    /* height: 80px; */
    
}
.flex-basis-60{
    flex-basis: 60%;
    /* height: 60px; */

}

.flex-basis-40{
    flex-basis: 40%;
    /* height: 60px; */
    
    
}
.color-grey{
    background-color: var(--color-2);
}

main section:last-child > div{
    flex-direction: column;
}
footer .flex div{
    flex-basis: calc(100% /5);
    /* height: 50px; */
    background-color: var(--color-3);
    
}
footer .flex div:first-child{
    flex-basis: 25%;
}
footer{
    background-color: var(--color-3);
    
}

.accedi{
    border-radius: 25px;
    font-size: 10px;
    color: var(--color-4);
    margin-bottom: 10px;
    width: 50px;
}

.logo{
    float: left;
    
}

ul{
    list-style: none;
    }

nav li{
    display: inline-block;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    color: var(--color-2);
    padding-block: 15px;
}

.text-1{
    padding:10px;
}

.text-2{
    font-size: 16px;
    color: var(--color-2);
    padding-block: 10px;
}

.Mac{
    border-radius: 30px;
     margin-left: 15px;
     width: 150px;
     height: 30px;
}

.browser{
    border-radius: 30px;
     margin-left: 15px;
     width: 200px;
     height: 30px;
     color: var(--color-2);
     background-color: var(--color-3);
}

.h2-1{
    font-size: 15px;
    padding-block: 2px;
}
h2{
    font-size: 22px;
    padding-block: 40px;
}

h4{
    text-align: center;
    padding-block: 15px;
    background-image: url(../img/img-3/stars.svg);
}

.mac-2{
    border-radius: 30px;
     margin-left: 15px;
     background-color: var(--color-5);
     height: 30px;
}

.mac{
    background-color: var(--color-5);
    border-radius: 30px;
     margin-left: 350px;
     width: 150px;
     height: 30px;
    }

h3{
    margin-top: 30px;
    color: var(--color-5);
    margin-bottom: 15px;
}

li{
    list-style: none;
    color: var(--color-2);
    margin-top: 15px;
    font-size: 12px;
    
}

.blue{
    color: var(--color-5);
}

.pad{
    padding-block: 40px;
}

.flex-logo-2{
    
}

figure span{
    color: var(--color-2);
    font-size: 12px;
}